/* Présentation de la page de création d'un post */

.postForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


h1 {
    text-align: center;
}

label {
    padding-bottom: 20px;
}

input {
    height: 40px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 40px;
    border: none;
}

.button {
    text-align: center;
    padding: 15px;
    width: 50%;
    border-radius: 10px 10px;
    position: relative;
}