@media screen and (max-width: 480px) {
    main {
        width: 100%;
    }

    .main-content {
        width: 100%;
    }
}

@media all and (min-width: 480px) and (max-width: 1024px) {
    body {
        width: 90%;
    }
}